@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Medium.eot');
  src: url('./fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Medium.woff2') format('woff2'),
       url('./fonts/Vazir-Medium.woff') format('woff'),
       url('./fonts/Vazir-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Vazir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Vazir";
}

li,ul,a,h1,h2,h3,h4,h5,span,label{
  font-family: "Vazir" !important;
}

.top-footer 
{
  background-color: #2c373b;
  padding: 30px;
  color: azure; 
  bottom: 0;
  position: absolute;
}
.mdl-layout__header
{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(51, 48, 48) !important;
  border-bottom: 1px solid rgb(231, 229, 229) !important;
}
.mdl-layout__header,a
{
  color: rgb(51, 48, 48) !important;
}