@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Medium.eot');
  src: url('./fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Medium.woff2') format('woff2'),
       url('./fonts/Vazir-Medium.woff') format('woff'),
       url('./fonts/Vazir-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Vazir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Vazir";
}

li,ul,a,h1,h2,h3,h4,h5,span,label{
  font-family: "Vazir" !important;
}

.top-footer 
{
  background-color: #2c373b;
  padding: 30px;
  color: azure; 
  bottom: 39px;
  position: absolute;
  width: 100%;
}
.bottom-footer
{
  background-color: #20282a;
  padding: 10px;
  color: azure; 
  bottom: 0;
  position: absolute;
  width: 100%;
  font-family: "Vazir" !important;
  font-size: 11px;
  font-weight: initial;
  text-align: center;
}
.top-footer a{
  color: azure !important;
  text-decoration: none;
  font-size: 11px;
}

.mdl-layout__header
{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(51, 48, 48) !important;
  border-bottom: 1px solid rgb(231, 229, 229) !important;
}
.mdl-layout__header,a
{
  color: rgb(51, 48, 48) !important;
}

.top-menu ul li a
{
  display: block;
  line-height: 23px;
  padding: 2px 15px 2px 0;
  color: #fff;
  font-size: 14px !important;
  position: relative;
}

.clearfix{
  clear: both;
}